
body {
	background: #003976;
	font-size:100%;
	width:100%;
}



h1 {
	font-family: 'Abel', sans-serif;
	text-align: center;
	font-size: 2em;
	font-weight: 1000;
}

h2 {
	font-family: 'Abel', sans-serif;
	font-size: 1.5em;
	color: #003976
	font-weight: 800;
}

h3 {
	font-family: 'Abel', sans-serif;
	font-size: 1.25em;
	font-weight: 600;
}

h4 {
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	font-style: italic;
}

p, ul, ol {
	font-family: 'Abel', sans-serif;
	line-height: 1.5em;
}

p.small {
    font-family: 'Abel', sans-serif;
    font-weight: normal;
		font-size: .75em
}

#Content {
	margin:0 auto;
	width: 90%;
}

#Menu {
	background-color: #59595C;
	position: fixed;
	top:0;
	width: 90%;
}

#Menu ul {
		font-family: 'Abel', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Menu li {
	float: left;
	font-weight: bold;
}

#Menu li a {
	display: block;
	color: lightgrey;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

#Menu li a:hover {
	background-color: #EBAB21;
}

#PageContent {
	background: gainsboro;
	padding: 18px 32px;
}


header, footer {
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	color: #EBAB21;
	width:100%;
}

header {
	background-color: #59595C;
	border-radius: 6px 6px 0 0;
	border-bottom: 4px solid #2C8ECE;
	margin-top:30px;
}

header span {
	font-size: 3em;
	padding: 18px;
	display:block;
}

footer {
	border-radius: 0 0 6px 6px;
	border-top: 4px solid #2C8ECE;
	background-color: #59595C;
}

footer span {
	padding: 18px;
	display: block;
}

table {
	width: 90%;
	margin:0 auto;
	font-family: 'Abel', sans-serif;
	font-size:12px;
}

table, tr, td {
	border:1px solid #ccc;
}

table thead {
	background: #59595C;
	color: lightgrey;
	font-weight: bold;
	text-transform: uppercase;
}

table tr td, table tr th {
	padding: 6px;
}

input, select {
	padding:6px;
	border-radius:3px;
	border:1px solid #ccc;
}

table tr td:first-child {
	width:150px;
}

textarea {
	font-family: 'Abel', sans-serif;
	width:100%;
	height:100px;
}

label {
    font-family: 'Abel', sans-serif;
}

a:link {
  color: #2C8ECE;
	text-decoration: none;
}

a:visited {
  color: #003976;
	text-decoration: none;
}

a:hover {
  color: #EBAB21;
	text-decoration: none;
}

a:active {
  color: #333;
	text-decoration: none;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
